#timetable .MainHeader,
#timetable .MainHeader:hover {
    color: #fff;
    background-color: #205d90;
    height: 40px;
    border-bottom: none;
}

#timetable .MainHeader th {
    padding: 0 15px;
    border: none;
    line-height: 40px;
    color: #fff;
}

#timetable tr {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}

#timetable th {
    border: none;
    line-height: 35px;
    font-weight: normal;
    padding: 0 15px;
}

#timetable .SubHeader,
#timetable .SubHeader:hover {
    color: #fff;
    background-color: #337ab7;
}

#timetable .table-bordered {
    border: none;
}

#timetable .table-responsive {
    margin: 20px 30px;
}

#timetable .dropdown {
    width: 225px;
    margin: 0 20px;
}

#timetable .dropdown button:first-child {
    width: calc(100% - 25px);
}

#timetable .dropdown button > div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

