.teacher-modal-dialog {
    width: 70%;
}

.teacher-popup .popup-row {
    padding: 10px 0;
    border-bottom: 1px solid #f8f8f8;
}

.teacher-popup .popup-row:last-of-type {
    padding-bottom: 0;
    border: none;
}

.teacher-popup .popup-row .label-name {
    padding-right: 10px;
	display: inline-block;
	margin-bottom: 10px;
}

.teacher-popup .list-wrapper .item input {
    vertical-align: middle;
    margin: 0;
}

.teacher-popup .list-wrapper .item span {
    line-height: 32px;
    padding: 0 5px;
    max-width: 150px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}

.teacher-popup .list-wrapper {
    max-height: 150px;
    overflow: auto;
}

.teacher-popup .list-wrapper > span {
	margin-right: 10px;
}

.teacher-popup .list-wrapper select {
    width: 170px;
    height: 26px;
    margin-right: 20px;
}

.teacher-popup .list-wrapper .item {
    display: inline-block;
    width: 20%;
}

.teacher-popup .list-wrapper .selected-intervals {
	margin-top: 25px;
}

.teacher-popup .list-wrapper .selected-intervals .row {
	margin: 0;
	line-height: 28px;
    display: flex;
    align-items: center;
}

.teacher-popup .list-wrapper .selected-intervals .remove-button {
	margin: 5px;
	cursor: pointer;
}

.teacher-popup .list-wrapper .selected-intervals .row span {
	margin-right: 5px;
}

.teacher-popup .list-wrapper .selected-intervals .title {
	margin-bottom: 10px;
}