.main-page {
    text-align: center;
    width: 80%;
    position: relative;
    margin: auto;
}

.nav-item, nav-item:hover, nav-item:active {
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}