.App {
    text-align: center;
    width: 1000px;
    /*position: relative;*/
    /*left: 50%;*/
    /*margin-left: -500px;*/
}

.Table {
    /*position: relative;*/
    /*left: 50%;*/
    /*width: 700px;*/
    /*margin-left: -350px;*/
}

.MainHeader {
    background-color: #8080FF;
}

.SubHeader {
    background-color: #CCCCFF;
}
