.room-input .scrollable-items {
    max-height: 320px;
    overflow: auto;
}

.room-input input {
    width: 180px;
    margin: 0 10px;
    box-sizing: content-box;;
}

.room-input select {
    width: 180px;
    margin: 0 10px;
    height: 26px;
}

.room-input.add-row {
    margin: 20px 0;
}

.room-input.add-row span {
    width: 90px;
    display: inline-block;
}
