.class-input .scrollable-items {
    max-height: 320px;
    overflow: auto;
}

.class-input .no-items {
    font-size: 14px;
    color: dimgray;
    text-align: center;
    line-height: 40px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}

.class-input input {
    width: 180px;
    margin: 0 10px;
}

.class-input.add-row {
    margin: 20px 0;
}

.class-input.add-row span {
    width: 90px;
    display: inline-block;
}
